@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";

.footer-two {
	background: #070000;
	position: relative;
	color: #ffffff;
	z-index: 1;
	.sec-bg {
		img {
			position: absolute;
			z-index: -1;
			&:first-child {
				bottom: 60px;
				left: 0;
				right: 0;
			}
			&:nth-child(2) {
				left: 0;
				top: 30px;
			}
		}
	}
	.footer-top {
		padding: 40px 0 20px;
	}
	.footer-widget {
		margin-bottom: 20px;
		.widget-title {
			h4 {
				color: #ffffff;
				font-size: typography.$font__size__18;
				margin-bottom: 15px;
			}
		}
		.footer-links {
			li {
				a {
					color: colors.$gray_light;
					font-size: typography.$font__size__14;
					display: inline-flex;
					align-items: center;
					i {
						font-size: typography.$font__size__10;
						margin-right: 5px;
					}
					&:hover {
						color: colors.$dark__blues;
					}
				}
				& +li {
					margin-top: 15px;
				}
			}
		}
		.footer-address {
			>li {
				font-size: typography.$font__size__14;
				& +li {
					margin-top: 15px;
				}
				&.social-link {
					ul {
						display: flex;
						align-items: center;
						li {
							margin-right: 10px;
							&:last-child {
								margin-right: 0;
							}
							a {
								width: 24px;
								height: 24px;
								border-radius: 50%;
								background: #ffffff;
								color: colors.$white;
								display: flex;
								align-items: center;
								justify-content: center;
								transition: 0.5s all;
								&:hover {
									background: colors.$dark__blues;
									transition: 0.5s all;
								}
								i {
									background: transparent;
									font-size: typography.$font__size__12;
								}
							}
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		@include mixins.respond-below(custom767) {
			padding-top: 0;
		}
		.copy-right {
			font-size: typography.$font__size__14;
			p {
				font-size: typography.$font__size__14;
				span {
					color: #ffffff;
				}
			}
			@include mixins.respond-below(custom575) {
				margin: 20px 0;
				text-align: center;
			}
		}
		@include mixins.respond-below(custom575) {
			flex-direction: column;
		}
	}
}

.bottom-modal {
	ul { 
		display: flex;
		align-items: center;
		gap: 10px;
		li {
			position: relative;
			a {
				img {
					width: 68px;
					height: 68px;
					border-radius: 50px;
					object-fit: cover;
				}
			}
		}
	}
}

/* Full width bottom modal */
.bottom-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: auto;
}

.bottom-modal .modal-content {
  border-radius: 15px 15px 0 0;
  animation: slideUp 0.5s ease-out;
  .modal-body {
	background-color: rgba(10,14,23,0.95);
	backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  }
  .bi-icon-whatsapp {
    background: #25d366;
    color: #ffffff;
    padding: 3px;
    width: 23px;
    border-radius: 5px;
    height: 23px;
    position: absolute;
    right: -7px;
    top: -7px;
}
.bi-icon-phone {
    background: #efb100;
    color: #ffffff;
    padding: 3px;
    width: 23px;
    border-radius: 5px;
    height: 23px;
    position: absolute;
    right: -7px;
    top: -7px;
}
/* Custom hidden state */
.modal.hide-custom {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Optional: smooth transition */
.modal {
  transition: all 0.3s ease;
}
}

.bottom-modal .modal-content .btn-close {
  background-color: #efb100;
  color: #141414;
  opacity: 1;
  width: 23px;
  height: 23px;
  position: absolute;
  top: -23px;
  right:12px;
}

/* Sticky bar */
.sticky-bar {
  position: fixed;
  bottom: -100px; /* hidden initially */
  left: 0;
  width: 100%;
  background: #efb100;
  color: #141414;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1055;
}

/* Show sticky bar */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

.sticky-bar.show {
	bottom: 0;
  animation: pulse 1.5s infinite;
}



/* Slide animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}